Source: openmediavault-docker-gui
Section: net
XB-Plugin-Section: virtualization
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-docker-gui
Architecture: any
Depends: docker-ce,
         omvextras-common,
         openmediavault (>= 3.0.67),
         openmediavault-omvextrasorg (>= 3.4.24),
         php5-curl,
         php5-imagick,
         ${misc:Depends},
Description: OpenMediaVault plugin for Docker
Conflicts: docker, docker-engine, docker.io
