Source: openmediavault-docker-gui
Section: net
XB-Plugin-Section: virtualization
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-docker-gui
Architecture: amd64
Depends: ${misc:Depends}, openmediavault (>= 3.0.0), php5-curl, docker-engine (>=1.10), openmediavault-omvextrasorg (>= 3.0), php5-imagick
Description: OpenMediaVault plugin for Docker
